<div class="dis-flex flx-col flx-cross-ctr wid-100pc bck-dark print-dis-none">
    <div class="dis-flex flx-col flx-cross-ctr wid-100pc wid-max-lg">
        <h2 class="_comments-header dis-inline-block mar-top-40">Comments</h2>
        <div class="_comments-placeholder wid-100pc mar-top-10 mar-btm-40 txt-ctr txt-size-sm">
            Comments are now on <a href='{{ default "https://jjharris.substack.com/" $.Page.Params.substackUrl }}'>Substack</a>. Head over there to continue the discussion!
        </div>
    </div>
</div>
