{{ if gt .Paginator.TotalPages 1 }}
    <div class="dis-flex flx-main-ctr hgt-50 mar-y-20 bck-primary shd-sm">
        <div class="dis-inline-flex pad-8 txt-line-hgt-32">
            {{ if .Paginator.HasPrev }}
                <a href="{{ .Paginator.First.URL }}" class="_pgn-numbers">
                    <div class="pad-x-16">
                        <svg width="14" height="32" version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg">
                            <polyline points="14 9, 5 17, 14 25" stroke="#ffdfbf" fill="transparent" stroke-width="1.4" />
                            <polyline points="2 9, 2 25" stroke="#ffdfbf" fill="transparent" stroke-width="1.4" />
                        </svg>
                    </div>
                </a>
                {{ if .Paginator.Prev.HasPrev }}
                    <a href="{{ .Paginator.Prev.Prev.URL }}" class="_pgn-numbers">
                        <div class="pad-x-16">
                            {{ .Paginator.Prev.Prev.PageNumber }}
                        </div>
                    </a>
                {{ end }}
                <a href="{{ .Paginator.Prev.URL }}" class="_pgn-numbers">
                    <div class="pad-x-16">
                        {{ .Paginator.Prev.PageNumber }}
                    </div>
                </a>
            {{ end }}
        
            <div class="mar-x-10 pad-x-16 bck-fill txt-accent txt-shadow shd-sm-inset cur-ptr">
                {{ .Paginator.PageNumber }}
            </div>
        
            {{ if .Paginator.HasNext }}
                <a href="{{ .Paginator.Next.URL }}" class="_pgn-numbers">
                    <div class="pad-x-16">
                        {{ .Paginator.Next.PageNumber }}
                    </div>
                </a>
                {{ if .Paginator.Next.HasNext }}
                    <a href="{{ .Paginator.Next.Next.URL }}" class="_pgn-numbers">
                        <div class="pad-x-16">
                            {{ .Paginator.Next.Next.PageNumber }}
                        </div>
                    </a>
                {{ end }}
                <a href="{{ .Paginator.Last.URL }}" class="_pgn-numbers">
                    <div class="pad-x-16">
                        <svg class="tfm-flip-horiz" width="14" height="32" version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg">
                            <polyline points="14 9, 5 17, 14 25" stroke="#ffdfbf" fill="transparent" stroke-width="1.4" />
                            <polyline points="2 9, 2 25" stroke="#ffdfbf" fill="transparent" stroke-width="1.4" />
                        </svg>
                    </div>
                </a>
            {{ end }}
        </div>
    </div>
{{ end }}