/* Variables */
$dark: #283149;
$fill: #3B4664;
$primary: #007982;
$accent: #ffdfbf;
$light: #dddddd;
$red: #ce6e6e;
$blue: #63a8e5;
$green: #76c082;
$purple: #b473ff;

$font: "IBM Plex Sans", sans-serif;
$font-size-xlg: 4rem;
$font-size-h1: 2.3rem;
$font-size-h2: 1.65rem;
$font-size-h3: 1.1rem;
$font-size-blockquote: 1.5rem;
$font-size-body: 1.3rem;
$font-size-compact: 1.1rem;

$nav-height: 50px;
$nav-text-size: 1.4rem;
$nav-border-size: 4px;
$nav-well-diameter: 80px;
$nav-transition-time: 0.7s;
$icon-well-proportion: 0.74;
$footer-height: 226px;
$date-box-width: 66px;
$countdown-box-width: 120px;
$post-block-margin: 30px;

$xlg: 1200px;
$lg: 1024px;
$md: 768px;

/* Global styles */
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    padding: #{$nav-height} 0 $footer-height 0;
    background-color: $fill;
    background: linear-gradient(to right, darken($fill, 7%), $fill 8%, $fill 92%, darken($fill, 7%));
    font-family: $font;
    font-size: $font-size-body;
    font-weight: 300;

    h1 {
        margin: 0;
        color: $accent;
        font-size: $font-size-h1;
        font-weight: 200;
    }
    h2 {
        margin: 0;
        color: $accent;
        font-size: $font-size-h2;
        font-weight: 200;
    }
    h3 {
        margin: 0;
        color: $accent;
        font-size: $font-size-h3;
        font-weight: 500;
    }
    p {
        color: $light;
        font-weight: 300;
        font-size: $font-size-compact;
        line-height: 1.6rem;
    }
    ol, ul {
        font-size: $font-size-compact;

        @media only screen and (min-width: $md) {
            & {
                font-size: $font-size-body;
            }
        }
    }
    &._posts main p {
        margin: $post-block-margin 0 8px 0;
        
        @media only screen and (min-width: $md) {
            & {
                font-size: $font-size-body;
                line-height: 2rem;
            }
        }
    }
    &._posts main h1 + p,
    &._posts main h2 + p,
    &._posts main h3 + p,
    &._posts main h4 + p {
        margin-top: 8px;
    }
    hr {
        border-color: $accent;
    }

    main {
        ._article-content {
            & > * {
                margin: $post-block-margin 0 12px 0;
            }

            h1 + h2,
            h2 + h3,
            p + ul,
            p + ol {
                margin-top: 2px;
            }

            blockquote {
                position: relative;
                padding: 20px 80px;
                font-size: $font-size-blockquote;
                font-style: italic;
                
                &:before {
                    content: '\201C';
                    position: absolute;
                    top: -28px;
                    left: -4px;
                    font-size: 140px;
                    font-weight: 500;
                    font-style: normal;
                    color: $dark;
                }

                p {
                    color: $accent;
                }
                p:first-child {
                    margin-top: 0;
                }
                p:last-child {
                    margin-bottom: 0;
                }
            }
            @media only screen and (max-width: #{$md - 1px}) {
                blockquote {
                    padding-left: 66px;
                    padding-right: 10px;
                }
            }

            ul,
            ol {
                padding-left: 40px;

                li {
                    margin: 4px 0;
                }
            }

            code {
                padding: 0 1px;
                background-color: $dark;
                color: $accent;
                font-size: $font-size-compact;
                font-family: 'Courier New', Courier, monospace;
            }

            pre {
                background-color: $dark;
                padding: 8px 16px;
                overflow-x: auto;

                code {
                    padding: 0;
                }
            }

            img {
                max-width: 100%;
            }
        }
    }

    strong {
        font-weight: 500;
    }

    a {
        color: $accent;
        text-decoration: none;
    }

    ul,
    ol {
        margin: 0;
        padding: 0 30px;
    }
    ul {
        list-style-type: disc;
    }

    &._home ._well ._first,
    &._home ._well ._last {
        display: none;
    }

    &[class="404"] ._icon {
        animation: nav-jumping-icon 6s infinite;
    }
}

._loading {
    height: 15px;
}
._loading.is-active {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='15' version='1.1' baseProfile='full' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='0 15, 15 0, 30 15' stroke='%23ffdfbf' fill='transparent' stroke-width='1.4' /%3E%3C/svg%3E");
    animation: slide-clip-rect 2s ease-out infinite;
}

button {
    padding: 12px 22px;
    background-color: $primary;
    color: $light;
    font-family: $font;
    font-size: $font-size-body;
    font-weight: 300;
    border: none;
    box-shadow: 0 2px 4px transparentize($dark, 0.2);
    cursor: pointer;
    transition: background-color 0.1s ease-out;

    &:hover {
        background-color: lighten($primary, 3%);
        box-shadow: 0 3px 10px transparentize($dark, 0.2);
    }
    &:active {
        background-color: darken($primary, 3%);
        box-shadow: 0 2px 2px transparentize($dark, 0.2);
        transition: none;
    }
    &:disabled {
        background-color: darken($primary, 6%);
    }
}

input,
textarea {
    padding: 12px;
    background-color: $dark;
    color: $light;
    font-family: $font;
    font-size: $font-size-body;
    font-weight: 300;
    border: solid 2px $primary;
    outline: none;
    transition: box-shadow 0.2s, border 0.3s;
}
input:focus,
textarea:focus {
    box-shadow: inset 0 6px 10px darken($dark, 4%);
}
input::placeholder,
textarea::placeholder {
    color: $light;
    font-family: $font;
    font-size: $font-size-body;
    font-weight: 300;
    opacity: 0.6;
}
input._is-invalid,
input:invalid,
textarea._is-invalid,
textarea:invalid {
    border-color: $red;
}

nav {
    &._desktop {
        position: fixed;
        top: 0;
        left: 0;
        height: $nav-height * 2;
        margin-bottom: $nav-height * -1;
        z-index: 1000;
        transition: width #{$nav-transition-time} ease-out, left #{$nav-transition-time} ease-out, transform 0.2s;

        ._left,
        ._right {
            position: relative;
            width: calc(50% - #{$nav-well-diameter * 0.5 - $nav-border-size});
            height: $nav-height;
            box-shadow: 0 0 6px transparentize($dark, 0.4);
            transition: background-color #{$nav-transition-time}, box-shadow #{$nav-transition-time};
        }
        ._left {
            a:first-of-type {
                margin-left: 1rem;
            }
        }
        ._right {
            a:last-of-type {
                margin-right: 1rem;
            }
        }

        ._left ._border,
        ._right ._border {
            position: absolute;
            width: 300%;
            height: $nav-border-size;
            bottom: 0;
            transition: left 0.2s, right 0.2s;
        }

        ._left ._border {
            left: -100%;
            background: linear-gradient(to right, $fill, $primary 33%, $primary 66%, $light);
        }

        ._right ._border {
            right: -100%;
            background: linear-gradient(to left, $fill, $primary 33%, $primary 66%, $light);
        }

        ._middle {
            height: $nav-height * 2;
            background: radial-gradient(circle at center, transparentize($fill, 1) #{$nav-well-diameter * $icon-well-proportion * 0.5}, transparentize($fill, 0.8) #{$nav-well-diameter * 0.5 - 1}, $dark #{$nav-well-diameter * 0.5});
            clip-path: inset(-1px -1px 50% -1px);
            transition: opacity #{$nav-transition-time};
        }

        ._well {
            position: absolute;
            width: $nav-well-diameter;
            height: $nav-well-diameter;
            left: calc(50% - #{$nav-well-diameter * 0.5});
            top: $nav-height - $nav-well-diameter * 0.5;
            clip-path: inset(-1px -1px 50% -1px);
            border-radius: 100%;
            border: solid $nav-border-size $primary;
            transition: border-color 0.2s, border-width 0.4s ease-in, clip-path 0.5s 0.6s;

            ._first,
            ._last {
                position: absolute;
                top: 5px;
                left: 5px;
                width: calc(100% - 10px);
                height: calc(100% - 10px);
                border-radius: 100%;
                clip-path: inset(-1px -1px -1px 50%);
                transition: transform 0.4s, opacity 1s;
                
                body._scroll-complete & {
                    clip-path: inset(-1px -1px -1px 49%);
                }
                
                ._progress {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: $accent;
                    border-radius: 100%;
                    clip-path: inset(-1px 50% -1px -1px);
                    transition: transform 0.4s;
                }
            }

        }
        
        ._shadow {
            position: absolute;
            width: 10px;
            height: 10px;
            top: $nav-height - 5px;
            left: calc(50% - 5px);
            box-shadow: 0 -4px 14px #{$nav-well-diameter * $icon-well-proportion * 0.5} transparentize($dark, 0.4);
            border-radius: 100%;
            z-index: -1;
            transition: box-shadow #{$nav-transition-time};
        }

        ._icon {
            position: absolute;
            width: $nav-well-diameter * $icon-well-proportion;
            height: $nav-well-diameter * $icon-well-proportion;
            top: calc(#{$nav-height} - #{$nav-well-diameter * ($icon-well-proportion * 0.5)});
            left: calc(50% - #{$nav-well-diameter * ($icon-well-proportion * 0.5)});
            border-radius: 100%;
            background-image: url("/uploads/logo primary accent.svg");
            background-size: $nav-well-diameter * $icon-well-proportion;
            background-position: center;
            z-index: 1000;
            cursor: pointer;
            transition: transform 0.3s cubic-bezier(0.4, -0.8, 0.3, 1.8);
        }

        ._icon:hover {
            transform: scale($nav-well-diameter / ($nav-well-diameter * $icon-well-proportion) + 0.02);
            transition: transform 0.16s cubic-bezier(0.15, 0.885, 0.2, 1.6);
        }

        ._icon:active {
            transform: scale(0.9);
            transition: transform 0.1s cubic-bezier(0.15, 0.885, 0.2, 1.5);
        }

        ._icon:hover ~ ._well {
            border-color: $light;
        }

        ._icon:hover ~ ._left ._border {
            left: -200%;
        }

        ._icon:hover ~ ._right ._border {
            right: -200%;
        }

        a {
            font-weight: 200;
            font-size: $nav-text-size;
            padding: calc(#{$nav-height * 0.5} - #{$nav-text-size} * 0.5 - #{$nav-border-size * 0.5}) 20px 0 20px;
            line-height: $nav-text-size;
            color: $accent;
            text-decoration: none;
            cursor: pointer;
            user-select: none;
            text-transform: uppercase;
            transition: padding 0.125s ease-out, color #{$nav-transition-time};
        }

        a:hover {
            padding-top: calc(#{$nav-height * 0.5} - #{$nav-text-size} * 0.5 + 1px);
            animation: nav-background-glow 2.2s ease-in infinite alternate;
        }

        a:active {
            padding-top: 1rem;
            transition: padding 0s;
        }

        &:hover {
            ._well ._first,
            ._well ._last {
                opacity: 0;
            }
        }

        body._posts._is-scrolled &:not(:hover) {
            width: $nav-well-diameter + $nav-border-size * 2;
            left: calc(50% - #{($nav-well-diameter + $nav-border-size * 2) * 0.5});
            transform: scale(0.82) translateY(#{$nav-height * -0.5});
            transition: width #{$nav-transition-time} ease-out, left #{$nav-transition-time} ease-out, transform 0.5s cubic-bezier(0.2, 0, 0.3, 1) 1s;

            ._left,
            ._right {
                background-color: transparent;
                box-shadow: none;
                
                a {
                    color: transparent;
                }
            }
            
            ._left ._border {
                left: #{$nav-border-size * 2};
                transition: left #{$nav-transition-time * 0.5} ease-out;
            }
            ._right ._border {
                right: #{$nav-border-size * 2};
                transition: right #{$nav-transition-time * 0.5} ease-out;
            }
    
            ._middle {
                opacity: 0;
            }

            ._wrapper div a {
                transition: color #{$nav-transition-time};
            }

            ._well {
                border-width: 0;
                clip-path: inset(-1px -1px -1px -1px);
                transition: border-width 0.8s cubic-bezier(0.9, -3.2, 1, 1), clip-path 0.4s;
            }

            ._shadow {
                box-shadow: 0 4px 14px #{$nav-well-diameter * $icon-well-proportion * 0.5} transparentize($dark, 0.4);
            }
        }
    }

    &._mobile {
        z-index: 1000;

        ._icon {
            width: $nav-well-diameter * $icon-well-proportion;
            height: $nav-well-diameter * $icon-well-proportion;
            margin: 8px;
            border-radius: 100%;
            background-image: url("/uploads/logo primary accent.svg");
            background-size: $nav-well-diameter * $icon-well-proportion;
            background-position: center;
            box-shadow: 0 2px 12px 2px transparentize($dark, 0.2);
            z-index: 1000;
            cursor: pointer;
            transition: margin 0.2s 0.2s;
        }

        ._shade {
            display: none;
            background-color: transparentize($dark, 0.2);
            z-index: -1;
        }

        ._wrapper {
            height: 0;
            overflow: hidden;
            transition: height 0.4s, padding 0.2s 0.2s;
        }
        &._is-expanded {
            ._icon {
                margin: 0;
                transition: margin 0s;
            }

            ._shade {
                display: block;
            }

            ._wrapper {
                padding: 8px;
                height: 100vh;
                transition: height 0.4s, padding 0s;
            }
        }

        ._well {
            height: $nav-well-diameter * $icon-well-proportion;
            width: $nav-well-diameter;
            background: radial-gradient(circle at #{$nav-well-diameter * $icon-well-proportion * 0.5 - 2} #{$nav-well-diameter * $icon-well-proportion * 0.5}, transparent #{$nav-well-diameter * 0.5}, $primary #{$nav-well-diameter * 0.5 + 1});
        }

        ._header-text {
            height: $nav-well-diameter * $icon-well-proportion;
            padding: 10px;
            padding-left: 32px;
            font-size: 1.8rem;
        }

        ._content {
            max-height: calc(100vh - 100px);
            background: radial-gradient(circle at #{$nav-well-diameter * $icon-well-proportion * 0.5 - 2} #{$nav-well-diameter * $icon-well-proportion * -0.5}, transparent #{$nav-well-diameter * 0.5}, $fill #{$nav-well-diameter * 0.5 + 1});
            overflow: scroll;

            a {
                transition: background-color 0.1s;
            }
        }
    }
}

footer {
    height: $footer-height;

    // div {
    //     height: $footer-height - 4px;
    // }
}

::selection {
    background-color: $primary;
}

._post-summary {
    align-items: center;
    font-size: $font-size-compact;
    
    &:hover {
        animation: primary-background-glow 2.5s ease-in infinite alternate;
    }

    * {
        text-decoration: none;
    }

    ._date {
        flex-direction: column;
        justify-content: center;
        flex-basis: $date-box-width;
        flex-shrink: 0;
        align-self: stretch;
        color: $accent;
        border: solid 2px $accent;
        border-top: none;
        border-bottom: none;
        overflow: hidden;

        &._countdown {
            position: relative;
            flex-basis: $countdown-box-width;
            background: radial-gradient(circle at center left, transparentize($accent, 0.6), transparent 45%), radial-gradient(circle at center right, transparentize($accent, 0.6), transparent 45%);
            animation: box-shadow-glow 3s ease-in-out infinite alternate;

            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                animation: background-color-glow 3s ease-in-out infinite alternate;
            }

            div {
                display: block;
            }
        }
        
        div {
            display: flex;
            width: 100%;
            text-align: center;

            &._day {
                display: block;
            }
            &._day::before,
            &._day::after {
                content: '\2022';
                display: block;
                opacity: 0.5;
                line-height: 1.2rem;
            }

            span {
                display: inline-block;
                flex-basis: 100%;
                flex-shrink: 0;
                transition: transform 0.2s ease-out, opacity 0.2s ease-out;
            }
        }

        ._simple {
            transform: translate(#{-1 * ($date-box-width - 3px)}, 0);
        }
        ._complex {
            transform: translate(#{-1 * ($date-box-width - 3px) * 0.15}, 0);
            opacity: 0;
        }
        
        &:hover {
            ._simple {
                transform: translate(#{-1 * ($date-box-width - 3px) * 0.85}, 0);
                opacity: 0;
                user-select: none;
            }
            ._complex {
                transform: translate(0, 0);
                opacity: 1;
            }
        }
    }
}

._box-summary {
    box-shadow: none;
    transition: box-shadow 1s;
}

._term-summary {
    width: calc(50% - 10px);
    padding: 22px 26px;
}

._section-nav {
    h3 {
        width: #{$md * 0.5 - 50px - 70px};
    }

    a h2 {
        transition: transform 0.4s ease-out;
    }

    a:hover {
        svg polygon {
            animation: svg-fill-opacity 1s ease-in-out infinite alternate;
        }
    }
    div:first-child a:hover h2 {
        transform: translateX(10px);
    }
    div:last-child a:hover h2 {
        transform: translateX(-10px);
    }
}

._text-fade-primary {
    height: 50px;
    margin-top: -50px;
    background: linear-gradient(to bottom, transparentize($primary, 1), $primary);
}

._pgn-numbers div {
    transition: scale 0.18s cubic-bezier(0.4, 0, 0.2, 2);
}
._pgn-numbers:hover {
    animation: primary-background-glow 3s ease-in 0.8s forwards;
}
._pgn-numbers:hover div {
    scale: 1.3;
}

._legend {
    position: sticky;
    top: 60px;

    h2 {
        transition: all 0.4s;
    }
}

._highlight {
    padding: 0 4px;
    border-bottom: solid 3px;
    border-radius: 2px;
    cursor: default;
    transition: all 0.3s;
}
._highlight.red {
    border-bottom-color: $red;

    &.hover, &:hover {
        background-color: $red;
    }
}
._highlight.purple {
    border-bottom-color: $purple;
    
    &.hover, &:hover {
        color: black;
        background-color: $purple;
    }
}
._highlight.blue {
    border-bottom-color: $blue;
    
    &.hover, &:hover {
        color: black;
        background-color: $blue;
    }
}
._highlight.green {
    border-bottom-color: $green;
    
    &.hover, &:hover {
        color: black;
        background-color: $green;
    }
}

/* Keyframes */
@keyframes slide-clip-rect {
    0% {
        clip-path: inset(0 70% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 70%);
    }
}

@keyframes primary-background-glow {
    0% {
        background-color: $primary;
    }
    100% {
        background-color: darken($primary, 3%);
    }
}

@keyframes box-shadow-glow {
    0% {
        box-shadow: 0 0 20px transparentize($accent, 1);
    }
    100% {
        box-shadow: 0 0 20px transparentize($accent, 0.3);
    }
}

@keyframes background-color-glow {
    0% {
        background-color: transparentize($accent, 1);
    }
    100% {
        background-color: transparentize($accent, 0.6);
    }
}

@keyframes svg-fill-opacity {
    0% {
        fill-opacity: 0;
    }
    100% {
        fill-opacity: 1;
    }
}

@keyframes nav-background-glow {
    0% {
        background-color: darken($primary, 4%);
    }
    100% {
        background-color: lighten($primary, 3%);
    }
}

@keyframes nav-shrink {
    0% {
        border-radius: 0;
        width: 100%;
    }
    90% {
        border-radius: $nav-height;
        width: $nav-height * 2;
        height: $nav-height * 2;
        margin-top: 0;
    }
    100% {
        border-radius: $nav-height;
        width: 0;
        height: 0;
        margin-top: $nav-height * 0.5;
    }
}

@keyframes nav-well-spin {
    0% {
        transform: rotateZ(0);
    }
    25% {
        transform: rotateZ(90deg);
    }
    50% {
        transform: rotateZ(360deg);
    }
    100% {
        transform: rotateZ(720deg);
    }
}

@keyframes nav-jumping-icon {
    0% {
        transform: none;
    }
    2% {
        transform: translateY(-20px);
    }
    3% {
        transform: translateY(-25px);
    }
    4% {
        transform: translateY(-25px);
    }
    5% {
        transform: translateY(10px);
    }
    6% {
        transform: translateY(-10px);
    }
    7% {
        transform: translateY(5px);
    }
    8% {
        transform: translateY(0);
    }
    10% {
        transform: scale(1);
    }
    13% {
        transform: scale(1.5);
    }
    16% {
        transform: scale(1);
    }
    100% {
        transform: none;
    }
}

/* Utilities */
@each $name, $size in ("": 0px, "md-": $md, "lg-": $lg, "xlg-": $xlg) {
    @media only screen and (min-width: #{$size}) {
        /* Background */
        .#{$name}bck-dark {
            background-color: $dark;
        }
        .#{$name}bck-fill {
            background-color: $fill;
        }
        .#{$name}bck-primary {
            background-color: $primary;
        }
        .#{$name}bck-red {
            background-color: $red;
        }
        .#{$name}bck-blue {
            background-color: $blue;
        }

        /* Border */
        .#{$name}bor-2 {
            border: solid 2px;
        }
        .#{$name}bor-4 {
            border: solid 4px;
        }
        .#{$name}bor-y-none {
            border-top: none;
            border-bottom: none;
        }
        .#{$name}bor-top-none {
            border-top: none;
        }
        .#{$name}bor-rgt-none {
            border-right: none;
        }
        .#{$name}bor-lft-none {
            border-left: none;
        }
        .#{$name}bor-primary {
            border-color: $primary;
        }
        .#{$name}bor-accent {
            border-color: $accent;
        }
        .#{$name}bor-light {
            border-color: $light;
        }
        
        .#{$name}bor-rad-100pc {
            border-radius: 100%;
        }

        /* Cursor */
        .#{$name}cur-ptr {
            cursor: pointer;
        }

        /* Display */
        .#{$name}dis-flex {
            display: flex;
        }
        .#{$name}dis-inline-flex {
            display: inline-flex;
        }
        .#{$name}dis-block {
            display: block;
        }
        .#{$name}dis-inline-block {
            display: inline-block;
        }
        .#{$name}dis-fixed {
            display: fixed;
        }
        .#{$name}dis-none {
            display: none;
        }

        /* Flex */
        .#{$name}flx-col {
            flex-direction: column;
        }
        .#{$name}flx-main-start {
            justify-content: flex-start;
        }
        .#{$name}flx-main-ctr {
            justify-content: center;
        }
        .#{$name}flx-main-end {
            justify-content: flex-end;
        }
        .#{$name}flx-main-space-btw {
            justify-content: space-between;
        }
        .#{$name}flx-cross-content-start {
            align-content: flex-start;
        }
        .#{$name}flx-cross-ctr {
            align-items: center;
        }
        .#{$name}flx-gap-2 {
            gap: 0.5rem;
        }
        .#{$name}flx-wrap {
            flex-wrap: wrap;
        }
        .#{$name}flx-grow {
            flex-grow: 1;
        }
        .#{$name}flx-grow-0 {
            flex-grow: 0;
        }
        .#{$name}flx-shrink-0 {
            flex-shrink: 0;
        }
        .#{$name}flx-self-cross-start {
            align-self: flex-start;
        }
        .#{$name}flx-self-cross-ctr {
            align-self: center;
        }

        /* Height */
        .#{$name}hgt-0 {
            height: 0;
        }
        .#{$name}hgt-20 {
            height: 20px;
        }
        .#{$name}hgt-35 {
            height: 35px;
        }
        .#{$name}hgt-50 {
            height: 50px;
        }
        .#{$name}hgt-80 {
            height: 80px;
        }
        .#{$name}hgt-100 {
            height: 100px;
        }
        .#{$name}hgt-150 {
            height: 150px;
        }
        .#{$name}hgt-200 {
            height: 200px;
        }
        .#{$name}hgt-300 {
            height: 300px;
        }
        .#{$name}hgt-400 {
            height: 400px;
        }
        .#{$name}hgt-50pc {
            height: 50%;
        }
        .#{$name}hgt-70pc {
            height: 70%;
        }
        .#{$name}hgt-80pc {
            height: 80%;
        }
        .#{$name}hgt-100pc {
            height: 100%;
        }
        .#{$name}hgt-100v {
            height: 100vh;
        }

        /* Hover */
        .#{$name}hov-bck-fill-darken-5pc:hover {
            background-color: darken($fill, 5%);
        }
        .#{$name}hov-bck-dark-lighten-5pc:hover {
            background-color: lighten($dark, 5%);
        }
        .#{$name}hov-shadow:hover {
            box-shadow: 0 2px 40px darken($dark, 8%);
        }

        /* List */
        .#{$name}lst-disc {
            list-style-type: disc;
        }
        .#{$name}lst-circle {
            list-style-type: circle;
        }

        /* Link */
        .#{$name}lnk-no-underline {
            text-decoration: none;
        }

        /* Margin */
        .#{$name}mar-0 {
            margin: 0;
        }
        .#{$name}mar-6 {
            margin: 6px;
        }
        .#{$name}mar-10 {
            margin: 10px;
        }
        .#{$name}mar-20 {
            margin: 20px;
        }
        .#{$name}mar-x-6 {
            margin-left: 6px;
            margin-right: 6px;
        }
        .#{$name}mar-x-10 {
            margin-left: 10px;
            margin-right: 10px;
        }
        .#{$name}mar-x-20 {
            margin-left: 20px;
            margin-right: 20px;
        }
        .#{$name}mar-x-30 {
            margin-left: 30px;
            margin-right: 30px;
        }
        .#{$name}mar-x-40 {
            margin-left: 40px;
            margin-right: 40px;
        }
        .#{$name}mar-x-auto {
            margin-left: auto;
            margin-right: auto;
        }
        .#{$name}mar-x-alternating-10:nth-child(odd) {
            margin-right: 10px;
        }
        .#{$name}mar-x-alternating-10:nth-child(even) {
            margin-left: 10px;
        }
        .#{$name}mar-y-0 {
            margin-top: 0;
            margin-bottom: 0;
        }
        .#{$name}mar-y-4 {
            margin-top: 4px;
            margin-bottom: 4px;
        }
        .#{$name}mar-y-10 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .#{$name}mar-y-20 {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .#{$name}mar-y-30 {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .#{$name}mar-y-40 {
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .#{$name}mar-pos-top-0 {
            margin-top: 0;
        }
        .#{$name}mar-top-4 {
            margin-top: 4px;
        }
        .#{$name}mar-top-8 {
            margin-top: 8px;
        }
        .#{$name}mar-top-10 {
            margin-top: 10px;
        }
        .#{$name}mar-top-20 {
            margin-top: 20px;
        }
        .#{$name}mar-top-40 {
            margin-top: 40px;
        }
        .#{$name}mar-top-50 {
            margin-top: 50px;
        }
        .#{$name}mar-lft-10 {
            margin-left: 10px;
        }
        .#{$name}mar-lft-20 {
            margin-left: 20px;
        }
        .#{$name}mar-lft-30 {
            margin-left: 30px;
        }
        .#{$name}mar-btm-0 {
            margin-bottom: 0;
        }
        .#{$name}mar-btm-4 {
            margin-bottom: 4px;
        }
        .#{$name}mar-btm-8 {
            margin-bottom: 8px;
        }
        .#{$name}mar-btm-10 {
            margin-bottom: 10px;
        }
        .#{$name}mar-btm-20 {
            margin-bottom: 20px;
        }
        .#{$name}mar-btm-40 {
            margin-bottom: 40px;
        }
        .#{$name}mar-btm-50 {
            margin-bottom: 50px;
        }
        .#{$name}mar-rgt-4 {
            margin-right: 4px;
        }
        .#{$name}mar-rgt-6 {
            margin-right: 6px;
        }
        .#{$name}mar-rgt-10 {
            margin-right: 10px;
        }
        .#{$name}mar-rgt-20 {
            margin-right: 20px;
        }
        .#{$name}mar-rgt-30 {
            margin-right: 30px;
        }
        .#{$name}mar-last-0:last-of-type {
            margin: 0;
        }

        /* Overflow */
        .#{$name}ovr-scroll {
            overflow: scroll;
        }
        .#{$name}ovr-hidden {
            overflow: hidden;
        }

        /* Padding */
        .#{$name}pad-4 {
            padding: 4px;
        }
        .#{$name}pad-8 {
            padding: 8px;
        }
        .#{$name}pad-10 {
            padding: 10px;
        }
        .#{$name}pad-12 {
            padding: 12px;
        }
        .#{$name}pad-16 {
            padding: 16px;
        }
        .#{$name}pad-20 {
            padding: 20px;
        }
        .#{$name}pad-x-8 {
            padding-left: 8px;
            padding-right: 8px;
        }
        .#{$name}pad-x-10 {
            padding-left: 10px;
            padding-right: 10px;
        }
        .#{$name}pad-x-14 {
            padding-left: 14px;
            padding-right: 14px;
        }
        .#{$name}pad-x-16 {
            padding-left: 16px;
            padding-right: 16px;
        }
        .#{$name}pad-x-20 {
            padding-left: 20px;
            padding-right: 20px;
        }
        .#{$name}pad-x-30 {
            padding-left: 30px;
            padding-right: 30px;
        }
        .#{$name}pad-x-40 {
            padding-left: 40px;
            padding-right: 40px;
        }
        .#{$name}pad-y-6 {
            padding-top: 6px;
            padding-bottom: 6px;
        }
        .#{$name}pad-y-8 {
            padding-top: 8px;
            padding-bottom: 8px;
        }
        .#{$name}pad-y-10 {
            padding-top: 10px;
            padding-bottom: 10px
        }
        .#{$name}pad-y-12 {
            padding-top: 12px;
            padding-bottom: 12px
        }
        .#{$name}pad-y-20 {
            padding-top: 20px;
            padding-bottom: 20px
        }
        .#{$name}pad-y-25 {
            padding-top: 25px;
            padding-bottom: 25px
        }
        .#{$name}pad-y-30 {
            padding-top: 30px;
            padding-bottom: 30px
        }
        .#{$name}pad-y-40 {
            padding-top: 40px;
            padding-bottom: 40px
        }
        .#{$name}pad-y-40 {
            padding-top: 40px;
            padding-bottom: 40px
        }
        .#{$name}pad-lft-20 {
            padding-left: 20px;
        }
        .#{$name}pad-lft-30 {
            padding-left: 30px;
        }
        .#{$name}pad-lft-70 {
            padding-left: 70px;
        }
        .#{$name}pad-rgt-20 {
            padding-right: 20px;
        }
        .#{$name}pad-rgt-30 {
            padding-right: 30px;
        }
        .#{$name}pad-top-4 {
            padding-top: 4px;
        }
        .#{$name}pad-top-20 {
            padding-top: 20px;
        }
        .#{$name}pad-top-40 {
            padding-top: 40px;
        }
        .#{$name}pad-top-60 {
            padding-top: 60px;
        }
        .#{$name}pad-top-80 {
            padding-top: 80px;
        }
        .#{$name}pad-btm-0 {
            padding-bottom: 0px;
        }
        .#{$name}pad-btm-10 {
            padding-bottom: 10px;
        }
        .#{$name}pad-btm-20 {
            padding-bottom: 20px;
        }
        .#{$name}pad-btm-40 {
            padding-bottom: 40px;
        }

        /* Position */
        .#{$name}pos-abs {
            position: absolute;
        }
        .#{$name}pos-sticky {
            position: sticky;
        }
        .#{$name}pos-fixed {
            position: fixed;
        }
        .#{$name}pos-top-0 {
            top: 0;
        }
        .#{$name}pos-top-10 {
            top: 10px;
        }
        .#{$name}pos-btm-0 {
            bottom: 0;
        }

        /* Shadow */
        .#{$name}shd-sm {
            box-shadow: 0 6px 12px transparentize($dark, 0.4);
        }
        .#{$name}shd-md {
            box-shadow: 0 2px 36px transparentize($dark, 0.2);
        }
        .#{$name}shd-sm-inset {
            box-shadow: inset 0 6px 10px transparentize($dark, 0.4);
        }

        /* Transform */
        .#{$name}tfm-flip-horiz {
            transform: rotateY(180deg);
        }

        /* Text */
        .#{$name}txt-dark {
            color: $dark;
        }
        .#{$name}txt-fill {
            color: $fill;
        }
        .#{$name}txt-primary {
            color: $primary;
        }
        .#{$name}txt-accent {
            color: $accent;
        }
        .#{$name}txt-light {
            color: $light;
        }
        .#{$name}txt-red {
            color: $red;
        }
        .#{$name}txt-blue {
            color: $blue;
        }

        .#{$name}txt-lft {
            text-align: left;
        }
        .#{$name}txt-ctr {
            text-align: center;
        }
        .#{$name}txt-rgt {
            text-align: right;
        }

        .#{$name}txt-thin {
            font-weight: 200;
        }
        .#{$name}txt-bold {
            font-weight: 500;
        }
        .#{$name}txt-italic {
            font-style: italic;
        }
        .#{$name}txt-uppercase {
            text-transform: uppercase;
        }

        .#{$name}txt-size-xsm {
            font-size: 0.9rem;
        }
        .#{$name}txt-size-sm {
            font-size: $font-size-compact;
        }
        .#{$name}txt-size-body {
            font-size: $font-size-body;
        }
        .#{$name}txt-size-h3 {
            font-size: $font-size-h3;
        }
        .#{$name}txt-size-h2 {
            font-size: $font-size-h2;
        }
        .#{$name}txt-size-h1 {
            font-size: $font-size-h1;
        }
        .#{$name}txt-size-blockquote {
            font-size: 1.5rem;
        }
        .#{$name}txt-size-xlg {
            font-size: $font-size-xlg;
        }

        .#{$name}txt-line-hgt-32 {
            line-height: 32px;
        }

        .#{$name}txt-shadow {
            text-shadow: 0 4px 3px darken($dark, 4%);
        }

        /* Width */
        .#{$name}wid-1 {
            width: 1px;
        }
        .#{$name}wid-50 {
            width: 50px;
        }
        .#{$name}wid-60 {
            width: 60px;
        }
        .#{$name}wid-70 {
            width: 70px;
        }
        .#{$name}wid-80 {
            width: 80px;
        }
        .#{$name}wid-100 {
            width: 100px;
        }
        .#{$name}wid-120 {
            width: 120px;
        }
        .#{$name}wid-140 {
            width: 140px;
        }
        .#{$name}wid-280 {
            width: 280px;
        }
        .#{$name}wid-300 {
            width: 300px;
        }
        .#{$name}wid-30pc {
            width: 30%;
        }
        .#{$name}wid-33pc {
            width: 30%;
        }
        .#{$name}wid-40pc {
            width: 40%;
        }
        .#{$name}wid-50pc {
            width: 50%;
        }
        .#{$name}wid-60pc {
            width: 60%;
        }
        .#{$name}wid-66pc {
            width: 66%;
        }
        .#{$name}wid-70pc {
            width: 70%;
        }
        .#{$name}wid-70pc-20 {
            width: calc(70% - 20px);
        }
        .#{$name}wid-75pc {
            width: 75%;
        }
        .#{$name}wid-90pc {
            width: 90%;
        }
        .#{$name}wid-100pc {
            width: 100%;
        }
        .#{$name}wid-100pc-20 {
            width: calc(100% - 20px);
        }
        .#{$name}wid-100v {
            width: 100vw;
        }
        .#{$name}wid-md {
            width: $md;
        }
        .#{$name}wid-xlg {
            width: $xlg;
        }
        .#{$name}wid-50pc-10 {
            width: calc(50% - 10px);
        }
        .#{$name}wid-min-30 {
            min-width: 30px;
        }
        .#{$name}wid-min-280 {
            min-width: 280px;
        }
        .#{$name}wid-min-320 {
            min-width: 320px;
        }
        .#{$name}wid-min-400 {
            min-width: 400px;
        }
        .#{$name}wid-min-100pc {
            min-width: 400px;
        }
        .#{$name}wid-min-md {
            min-width: $md;
        }
        .#{$name}wid-max-360 {
            max-width: 360px;
        }
        .#{$name}wid-max-800 {
            max-width: 800px;
        }
        .#{$name}wid-max-md {
            max-width: $md;
        }
        .#{$name}wid-max-lg {
            max-width: $lg;
        }
        .#{$name}wid-max-xlg {
            max-width: $xlg;
        }
        .#{$name}wid-max-80pc {
            max-width: 80%;
        }
        .#{$name}wid-max-100pc {
            max-width: 100%;
        }

        /* Vertical align */
        .#{$name}ver-txt-btm {
            vertical-align: text-bottom;
        }

    }
}

@media print {
    body {
        background-color: white;
    }
    body * {
        color: #222 !important;
    }
    h1 {
        font-size: 1.8rem !important;
    }
    h2 {
        font-size: 1.4rem !important;
    }
    h3 {
        font-size: 1rem !important;
    }
    p, ul, li, code, footer {
        font-size: 1rem !important;
        line-height: 1.2rem !important;
    }

    .print-dis-none {
        display: none;
    }
    .print-txt-ctr {
        text-align: center;
    }
}