{{ define "title" }}
    {{ .Site.Title }}
{{ end }}

{{ define "main" }}
    <header>
        <h1 class="txt-size-xlg">{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <h2>{{.}}</h2>
        {{ end }}
    </header>
    <div>
        {{/* Note that the content for index.html, as a sort of list page, will pull from content/_index.md */}}
        {{.Content}}
    </div>

    <div class="dis-flex flx-wrap mar-top-20">
        <div class="wid-100pc lg-wid-70pc-20 lg-mar-rgt-20">
            {{ $paginator := .Paginate (where .Site.RegularPages "Section" "ne" "pages") }} {{/* Exclude files under /pages (About, Contact, etc.) */}}
            {{ range .Paginator.Pages }}
                {{ .Render "summary" }}
            {{ end }}
            
            {{ .Render "paginator" }}
        </div>

        {{ .Render "right-sidebar" }}
    </div>
{{ end }}